@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
	margin-top: 20px;
	background-color: lightgray;
}

.main{
	padding: 15px;
	font-family: "Poppins", sans-serif;
}

.top-bar{
	position: relative;
	top: 0;
	width: 100%;
	padding: 30px 100px;
	background-color: #f2d4ca;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-bar a{
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 2px 15px;
	border-radius: 20px;
	transition: 0.3s;
	transition-property: background;
}

.top-bar a:not(:last-child){
	margin-right: 30px;
}

.top-bar a:hover{
	background: #9c5326;
	text-color: #fff;
	text-decoration: none;
}

.sidebar{
	background-color: #333;
	color: white;
	height: 100%;
}

.top-bar h2{
	padding: 20px 26px;
	position: relative;
	color: #000;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
}

.top-bar h2 span{
	color: #fff;
}

.sidebar a{
	margin-top: 40px;
	margin-left: 10px;
	display: block;
	color: white;
	padding-bottom: 10px;
	font-size: 20px;
	text-decoration: none;
}

.sidebar a:hover{
	text-decoration: none;
	text-color: #fff;
	opacity: 0.8;
}

.card{
	position: relative;
	display: flex;
	flex-direction: column;
}

.content{
	background-color: whitesmoke;
}
