<!DOCTYPE html>
<html>
	<head>
		<title>login</title>
		<link rel="stylesheet" type="text/css" href="static/styles/login.css">
	</head>
	<body>
		<section>
                        <header>
                                <h2><a href="0-index.html" class="logo">Happy<span>Pup</span></a></h2>
                        </header>
			<div class="login-form">
				<h1>LOGIN</h1>
				<form action="app.py" method="POST">
					<p>Email</p>
					<input type="email" name="email" placeholder="Email Address">
					<p>Password</p>
					<input type="password" name="password" placeholder="Password">
					<button type="submit" name="login">sign-in</button>
				</form>
			</div>
		</section>
	</body>
</html>
